<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/atom.xml" class="nav-link">RSS</a></li>
  <li><a href="https://github.com/wchuang">Github</a></li>
  <li><a href="https://twitter.com/huang_wc">Twitter</a></li>
  <li><a href="https://www.linkedin.com/pub/wei-cheng-huang/90/253/933">Linkedin</a></li>
  <li><a href="https://www.facebook.com/weicccc">Facebook</a></li>
  <li><a href="{{ root_url }}/about_me">About Me</a></li>
</ul>
